asgiref==3.2.10
attrs==20.2.0
black==21.9b0
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography>=3.2
django>=3.1.13
django-cors-headers==3.5.0
django-filter==2.4.0
django-rest-passwordreset==1.1.0
djangorestframework>=3.11.2
djangorestframework-simplejwt==4.8.0
drf-yasg==1.20.0
freezegun==1.0.0
idna==2.10
inflection==0.5.1
iniconfig==1.0.1
itypes==1.2.0
isort==5.9.3
jinja2>=2.11.3
MarkupSafe==1.1.1
packaging==20.4
pluggy==0.13.1
psycopg2-binary==2.8.6
py>=1.10.0
pycparser==2.20
PyJWT==2.1.0
pyparsing==2.4.7
pytest==6.1.1
pytest-django==3.10.0
pytest-freezegun==0.4.2
pytest-mock==3.3.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
requests==2.26.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
rules==2.2
six==1.15.0
sqlparse>=0.4.2
toml==0.10.1
uritemplate==3.0.1
urllib3>=1.26.5
