version: '3.5'

services:
  api:
    build:
      dockerfile: 'deploy/Dockerfile'
      context: '../'
    entrypoint: 'deploy/entrypoint.sh'
    volumes:
      - '../:/app'
    networks:
      - 'crm_network'
    ports:
      - '${APP_HOST_PORT}:8000'
    depends_on:
      - 'postgres'
      - 'rabbit'
      - 'memcached'

  postgres:
    image: 'postgres:alpine'
    environment:
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_DB: '${POSTGRES_DB}'
    volumes:
      - './db/:/var/lib/postgresql/data/'
    networks:
      - 'crm_network'
    ports:
      - '${DB_HOST_PORT}:5432'

  rabbit:
    image: 'rabbitmq:3.6.1-management'
    environment:
      RABBITMQ_DEFAULT_USER: '${RABBITMQ_DEFAULT_USER}'
      RABBITMQ_DEFAULT_PASS: '${RABBITMQ_DEFAULT_PASS}'
    ports:
      - '${RABBITMQ_HOST_PORT}:5672'
      - '${RABBITMQ_MANAGEMENT_PORT}:15672'
    networks:
      - 'crm_network'

  celery:
    image: 'deploy_api'
    entrypoint: 'celery worker -B -A core.celery.app --loglevel=DEBUG'
    restart: 'always'
    depends_on:
      - 'rabbit'
      - 'api'
    volumes:
      - '../:/app'
    networks:
      - 'crm_network'

  memcached:
    image: 'memcached'
    entrypoint: ['memcached', '-m 128']
    ports:
      - '{MEMCACHED_HOST_PORT}:11211'
networks:
  crm_network: